<head>
  <link href="/assets/css/fontawesome.css" rel="stylesheet">
  <link href="/assets/css/fa-brands.css" rel="stylesheet">
  <link href="/assets/css/fa-regular.css" rel="stylesheet">
  <link href="/assets/css/fa-solid.css" rel="stylesheet">
</head>

<body>
  <h2>
    <i class="fas fa-hand-paper"></i> 学生签到
  </h2>
  <div style="position: absolute; left: 50%; margin-top: 70px;">
    <div style="position: relative; left: -50%;">
      <div class="grid">
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
        <button class="seat">
          签到<br>座位
        </button>
      </div>
    </div>
  </div>
</body>
