<head>
  <link href="/assets/css/fontawesome.css" rel="stylesheet">
  <link href="/assets/css/fa-brands.css" rel="stylesheet">
  <link href="/assets/css/fa-regular.css" rel="stylesheet">
  <link href="/assets/css/fa-solid.css" rel="stylesheet">
</head>

<body>
  <h2>
    <i class="fas fa-address-book"></i> 个人信息修改
  </h2>
  <div style="position: absolute; left: 50%; margin-top: 70px;">
    <div style="position: relative; left: -50%;">
      <br><br>
      <label>学&emsp;&emsp;号
        <input>
      </label>
      <br><br>
      <label>姓&emsp;&emsp;名
        <input>
      </label>
      <br><br>
      <label>性&emsp;&emsp;别
        <select>
          <option value ="">男</option>
          <option value ="">女</option>
        </select>
      </label>
      <br><br>
      <label>所在学校
        <select>
          <option value ="">福州大学</option>
          <option value ="">福建师范大学</option>
        </select>
      </label>
      <br><br>
      <label>所在院系
        <select>
          <option value ="">数学与计算机科学学院</option>
          <option value ="">土木工程学院</option>
        </select>
      </label>
      <br><br>
      <label>上传头像
        <button style="margin-left: 30px">选择文件</button>
      </label>
      <br><br>
      <label>&emsp;&emsp;&emsp;&emsp;</label>
      <label style="margin-left: 30px; width: 300px;">未选择</label>
      <br><br>
    </div>
    <div style="position: relative; left: -50%; text-align: center; margin-top: 50px;">
      <button class="choose">确&emsp;定</button>
      <button class="choose" style="margin-left: 50px">取&emsp;消</button>
    </div>
  </div>
</body>
